.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    font-size: 2rem;
    border: none;
    background-image: linear-gradient(to right, #E6A644 , #A88932);
    color: #FFF;
    cursor: pointer;
}

.lottery{
    background-color: red;
    font-size: 1.2rem;
    padding: 16px 25px;
    color: #FFF;
    border: none;
    cursor: pointer;
}